<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>RailwayReservation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupHandler</display-name>
    <servlet-name>SignupHandler</servlet-name>
    <servlet-class>com.railway.SignupHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupHandler</servlet-name>
    <url-pattern>/api/v1/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginHandler</display-name>
    <servlet-name>LoginHandler</servlet-name>
    <servlet-class>com.railway.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandler</servlet-name>
    <url-pattern>/api/v1/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bookticket</display-name>
    <servlet-name>Bookticket</servlet-name>
    <servlet-class>com.railway.Bookticket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookticket</servlet-name>
    <url-pattern>/api/v1/bookticket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PnrStatusRetrieverHandler</display-name>
    <servlet-name>PnrStatusRetrieverHandler</servlet-name>
    <servlet-class>com.railway.PnrStatusRetrieverHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PnrStatusRetrieverHandler</servlet-name>
    <url-pattern>/api/v1/pnrstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketCancellation</display-name>
    <servlet-name>TicketCancellation</servlet-name>
    <servlet-class>com.railway.TicketCancellation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketCancellation</servlet-name>
    <url-pattern>/api/v1/cancelReservation</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.railway.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/Welcome.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/PNRstatus.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/CancelTicket.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/CancelledTicketDetails.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/Bookticket.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/BookingStatus.jsp</url-pattern>
  </filter-mapping>
</web-app>